body{
    box-sizing: border-box;
    background-color: #F0F0F0;
    color: #A9D3AB;
}

  .aboutContainer{
    display: flex;
    align-items: center;
  }

  .text {
    flex: 1;
    padding-left: 20px;
    text-align: center;
  }

  .title {
    font-family: Roboto Serif;
    font-size: 110px;
    text-align: left;
    padding-left: 2rem;
  }

  .subtitle {
    color: #BBBBBB;
    font-family: Roboto Serif;
    font-size: 66px;
    text-align: left;
    padding-left: 2rem;
  }
.container{
    margin: 1rem;
    text-align: center;
}
.nav{
    background-color: #A9D3AB;
    color: #505F98;
    display: flex;
    justify-content: space-between; 
    align-items: atretch;
    gap: 2rem;
    padding: 1rem;
}
.site-title{
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav li:hover{
    background-color: #777;
}