body {
  background-color: antiquewhite;
  font-family: cursive;
}
h1 {color: Grey; padding-bottom: 10px;}

p {color: black; padding-bottom: 10px;}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entries{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pic{
  width:200px;
  text-align:center;
  display:block;
}

img{
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 5px solid lightblue;
}

li{
  list-style-type: none;
}
