#overallPage {
    background-color: #F0F0F0;
}

#headerContainer {
    width: 1440px;
    height: 86px;
    top: 2037px;
}

#headerText {
    font-family: Roboto;
    font-style: medium;
    font-size: 85px;
    line-height: 48px;
    line-height: 48%;
    text-align: center;
    vertical-align: top;
    position: relative;
    top: 25px;
    color: #091133;
    fill: solid;
}

.imageAdjust {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.rowAdjusted {
    display: flex;
    justify-content: space-evenly;
    left: 400px;
}

.willAndShreyesDiv {
    margin-right: 100px;
}

.aditiDiv {
    margin-top: 200px;
}

.abhiDiv {
    margin-top: 400px;
}

.shreyaAndTarunDiv {
    margin-top: 400px;
    margin-right: 100px;
}

.titleName {
    font-family: Roboto;
    font-style: medium;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    line-height: 114%;
    text-align: left;
    vertical-align: top;
    color: #091133;
    fill: solid;
}

.actualName {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #6F7CB2;
    text-align: left;
    vertical-align: top;
    fill: solid;
}

.aspiringText {
    font-family: Roboto;
    font-size: 20px;
    line-height: 26px;
    color: #6F7CB2;
    text-align: left;
    vertical-align: top;
}

.willPic {
    height: 400px;
    width: 200px;
}

.aditiAndShreyaPic {
    height: 350px;
    width: 300px;
}

.shreyesAndTarunPic {
    height: 350px;
    width: 300px;
}

.abhiPic {
    height: 350px;
    width: 400px;
}